.player1, .player2 {
  width: 50%;
  height: 700px;
  border: 2px solid black;
  float: left;
  position: relative;
  box-sizing: border-box;
  text-align: center;
}
.board{
  width: 254px;
  height: 504px;
  border: 2px solid black;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}
.grid{
  border: 1px solid grey;
  width: 23px;
  height: 23px;
  display: inline;
  float: left;
}